/*Color Palette
#000000  - black
#FFFFFF  - white
#2D3037  - grey
#D99A9A  - pink
#FF6D05  - orange
*/

/*Color Palette Social media
#3B5998  - Facebook
#E12F67  - Instagram
#FF0000  - YouTube
#1DA1F2  - Twitter
*/


/*Global styles
-------------------*/

header, section, footer, aside, nav, article, figure, figcaption  {
  display: block;
}
body {
  max-width: 1024px;
  background: black;
  color: white;
  font-family: 'Montserrat', 'Verdana', 'sans-serif';
  font-size: 16px;
  margin: 0 auto;
}
h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display-black', 'Times', 'serif';
}
h1 {
  font-weight: bold;
  font-size: 40px;
  color: #FF6D05;
  text-align: left;
  margin-bottom: 30px;
}
h2 {
  font-weight: normal;
  font-size: 30px;
  color: white;
}
h3 {
  font-weight: normal;
  font-size: 20px;
  color: white;
  text-align: center;
}
.main-heading {
  font-family: 'Playfair Display-black', 'Times', 'serif';
  font-weight: bold;
  font-size: 30px;
  color: #FF6D05;
  text-align: center;
}
.heading {
  text-align: center;
}
.heading1_exhibitions {
  text-align: center;
  font-family: 'Playfair Display-black', 'Times', 'serif';
  font-size: 40px;
  color: white;
  margin-bottom: 10px;
}
.heading2_exhibitions {
  text-align: center;
  font-family: 'Playfair Display-black', 'Times', 'serif';
  font-size: 35px;
  color: white;
}
.heading3_exhibitions {
  text-align: center;
  font-family: 'Playfair Display-black', 'Times', 'serif';
  font-size: 30px;
}
.heading4_exhibitions {
  text-align: center;
  font-family: 'Playfair Display-black', 'Times', 'serif';
  font-size: 30px;
}
.heading_news {
  text-align: center;
  font-family: 'Playfair Display-black', 'Times', 'serif';
  font-size: 30px;
  font-size: italic;
}
.heading_visit {
  text-align: center;
  font-family: 'Playfair Display-black', 'Times', 'serif';
  font-size: 40px;
}
.heading1_visit {
  font-family: 'Playfair Display-black', 'Times', 'serif';
  font-size: 30px;
  position: relative;
  left: 4px;
}
.heading_location {
  margin-left: 410px;
}
.heading_shop {
  text-align: center;
  font-family: 'Playfair Display-black', 'Times', 'serif';
  font-size: 30px;
}
.heading_times {
  font-family: 'Playfair Display-black', 'Times', 'serif';
  font-size: 25px;
  margin-top: 80px;
  margin-left: 113px;
}
.heading_accessibility {
  font-size: 25px;
  margin-left: 400px;
}
.heading_contact {
  font-family: 'Playfair Display-black', 'Times', 'serif';
  font-size: 30px;
  width: 50px;
  margin-left: 20px;
}
.heading_find {
  font-family: 'Playfair Display-black', 'Times', 'serif';
  text-align: left;
  float: left;
  display: inline;
  margin-left: 30px;
  color: #FF6D05;
}
.heading_involved {
  text-align: center;
  font-family: 'Playfair Display-black', 'Times', 'serif';
  font-size: 40px;
}
.heading_form {
  text-align: center;
  margin-top: 30px;
}
.heading_support {
  text-align: center;
  margin-top: 60px;
}
.heading_internships {
  text-align: center;
  margin-top: 20px;
}
.heading_volunteer {
  text-align: center;
}

/* Containers
-------------------*/
.container_1, .container_2, .container_3, .container_visit, .container_location,
.container_shop, .container_1_support, .container_1_internships, .container1_contact,
.container2_contact, .container_1_involved, .container_1_exhibitions, .container_2_exhibitions,
.container_1_kids, .container_2_kids  {
  display: flex;
}
.container_1 {
  margin-bottom: 15px;
}
.container_2 {
  margin-bottom: 10px;
}
.container_3 {
  height: 80px;
  width: 99%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 6px;
}
.container_location {
  margin-top: 8px;
  margin-left: 4px;
  margin-bottom: 8px;
}
.container_shop {
  margin-left: 5px;
}
.container_1_support {
  margin: 10px 10px;
  margin-left: 12px;
}
.container_1_internships {
  margin-bottom: 10px;
  margin: 10px 10px;
  margin-left: 15px;
}
.container1_contact {
  margin-left: 5px;
  margin-top: 8px;
  background: #2D3037;
  color: #FFFFFF;
  border: solid #D99A9A;
}
.container2_contact {
  margin-left: 6px;
}
.container_1_involved {
  margin: 10px 10px;
  margin-left: 15px;
}
.container_1_exhibitions {
  margin: 10px 10px;
}
.container_2_exhibitions {
  margin: 10px 10px;
}
.container_1_kids {
  margin: 10px 10px;
}
.container_2_kids {
  margin-bottom: 15px;
  margin: 10px 10px;
}

/* Columns
-------------------*/
.col1, .col2, .col3  {
  flex: 1;
}
.col1 {
  background: #D99A9A;
  padding: 10px 10px;
  max-width: 98%;
}
.col2 {
  background: #D99A9A;
  padding: 10px 10px;
  max-width: 98%;
}
.col3 {
  background: #2D3037;
}
.col1_visit {
  flex: 1;
  background: #2D3037;
  margin-right: 7px;
  margin-left: 4px;
  padding: 10px;
}
.col2_visit {
  flex: 1;
  background: #2D3037;
  margin-right: 7px;
  margin-left: 4px;
  padding: 10px;
}
.col1_food {
  flex: 1;
  background: #2D3037;
  padding: 15px 15px;
  margin-right: 10px;
  margin-left: 10px;
}
.col1_shop {
  flex: 1;
  background: #2D3037;
  width: 40%;
  padding: 15px 15px;
  margin-right: 10px;
}
.col_1_contact {
  flex: 1;
  margin-top: 100px;
}
.col_2_contact {
  flex: 2;
}
.col_3_contact {
  flex: 3;
  margin-top: 100px;
}
.col_4_contact {
  flex: 4;
  margin-top: 100px;
}
.col_contact {
  flex: 1;
  background: #2D3037;
  border: solid #D99A9A;
}
.col1_contact {
  flex: 1;
  border: solid #D99A9A;
  background: #2D3037;
  padding: 10px;
  margin-top: 15px;
}
.col2_contact {
  flex: 1;
  background: #2D3037;
  padding: 15px;
  margin-top: 15px;
  margin-left: 10px;
}
.col1_exhibitions {
  flex: 1;
  width: 99%;
  background: #2D3037;
  padding: 15px;
  margin-top: 15px;
}
.col2_exhibitions {
  flex: 1;
  border: solid #D99A9A;
  background: #2D3037;
  padding: 40px;
  margin-top: 15px;
}
.col1_support {
  flex: 1;
  background: #2D3037;
  margin-bottom: 6px;
  padding: 20px 20px;
}
.col1_times {
  flex: 1;
  background: #2D3037;
}
.col1_involved {
  flex: 1;
  background: #2D3037;
  margin-right: 8px;
  padding: 20px 20px;
}
.col2_involved {
  flex: 1;
  background: #2D3037;
  padding: 20px 20px;
}
.col1_internships {
  flex: 1;
  background: #2D3037;
  margin-right: 8px;
  margin-top: 8px;
  padding: 10px 10px;
}
.col1_follow {
  flex: 1;
  width: 93%;
  background: white;
  margin-top: 5px;
  border-radius: 6px;
}
.col1_support {
  flex: 1;
  background: #2D3037;
  margin-bottom: 6px;
  padding: 20px 20px;
}
.col1_times {
  flex: 1;
  background: #2D3037;
}
.col1_involved {
  flex: 1;
  background: #2D3037;
  margin-right: 8px;
  padding: 20px 20px;
}
.col2_involved {
  flex: 1;
  background: #2D3037;
  padding: 20px 20px;
}
.col1_internships {
  flex: 1;
  background: #2D3037;
  margin-right: 8px;
  margin-top: 8px;
  padding: 10px 10px;
}
.col1_follow {
  flex: 1;
  width: 93%;
  background: white;
  margin-top: 5px;
  border-radius: 6px;
}
.col1_kids {
  flex: 1;
  background: #2D3037;
  padding: 10px;
  margin-left: 6px;
}
.col2_kids {
  flex: 1;
  width: 45%;
  background: #2D3037;
  padding: 10px;
  margin-left: 6px;
}
main section p a {
  color: #D99A9A;
}
ul.times {
  color: white;
  font-family: 'Montserrat-semibold', 'Verdana', 'sans-serif';
  width: 250px;
  float: left;
  margin-left: 80px;
  margin-top: 5px;
  padding: 15px;
}
ul.visit {
  color: white;
  font-family: 'Montserrat-semibold', 'Verdana', 'sans-serif';
  width: 300px;
  margin-left: 310px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}
.col2_kids img p a:link {
  color: #D99A9A;
}
.touch {
  color: #D99A9A;
}
ul.info1 {
  color: white;
  font-family: 'Montserrat-semibold', 'Verdana', 'sans-serif';
  width: 250px;
  float: left;
}
ul.info2 {
  color: white;
  font-family: 'Montserrat-semibold', 'Verdana', 'sans-serif';
  width: 300px;
  float: left;
}
ul.info3 {
  color: white;
  font-family: 'Montserrat-semibold', 'Verdana', 'sans-serif';
  width: 300px;
  float: left;
}
.food {
  margin-left: 6px;
  margin-top: 20px;
  padding: 5px;
}
.map {
  margin-left: 185px;
  margin-top: 10px;
  visibility: visible;
  display: block;
}
.accessibility {
  text-align: center;
}
.entrance a {
  color: #D99A9A;
}
.text {
  max-width: 800px;
  margin-left: 100px;
  margin-bottom: 60px;
}

/*Header and Footer
-------------------*/
/*header*/
header {
  background: #2D3037;
  color: white;
  line-height: 150%;
  padding: 20px;
  position: sticky;
  top: 0;
  width: 97%;
  max-width: 1260px;
  z-index: 1;
  border-radius: 6px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.search-header {
  position: absolute;
  top: 10px;
  left: 800px;
  max-width: 900px;
  display: inline-block;
}
.menu {
  display: none;
  width: 15%;
}

/*footer*/
.container_footer {
  display: flex;
  background: #2D3037;
  color: #FFFFFF;
  line-height: 150%;
  border-radius: 6px;
  width: 99%;
  height: 220px;
  margin-left: 8px;
}
.footer_1 {
  flex: 1;
  padding: 10px;
}
.footer_2 {
  flex: 2;
  padding: 10px;
}
.footer_3 {
  flex: 3;
}
ul.footer_visit {
  color: white;
  font-family: 'Montserrat-semibold', 'Verdana', 'sans-serif';
  font-size: 15px;
  width: 300px;
  padding: 5px;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 40px;
}
.house_footer {
  width: 15%;
  float: left;
  margin-top: 40px;
  margin-left: 40px;
}
.mobile_footer {
  width: 19%;
  float: left;
  margin-top: 40px;
  margin-left: 80px;
}
.number {
  margin-left: 30px;
  font-family: 'Playfair Display-black', 'Times', 'serif';
  font-size: 18px;
  width: 200px;
}
.top {
  color: white;
  margin-left: 220px;
  margin-top: 30px;
}
a:link{
  color: white;
  text-decoration: none;
}
.touch .entrance a:link {
  color: #D99A9A;
}
.touch .entrance a:visited {
  color: #D99A9A;
}
.touch .entrance a:hover {
  color: #D99A9A;
}
footer a:visited {
  color: black;
}
a:hover {
  color: #2D3037;
}


/* Navigations
-------------------*/
nav li a {
  color: white;
  font-family: 'Montserrat-semibold', 'Verdana', 'sans-serif';
  font-weight: bold;
  width: 20%;
  text-decoration: none;
  margin-right: 75px;
  margin-left: 5px;
  padding: 3px;
}
li {
  display: inline;
}
nav ul li a:link {
  color: white;
}
nav ul li a:visited {
  color: white;
}
nav ul li a:hover {
  color: black;
}
nav ul li a:focus {
  color: #FF6D05;
}
nav ul li a:active {
  color: #FF6D05;
}

/* Images
----------*/
.exhibition {
  width: 99%;
  margin: 10px;
}
.logo {
  width: 5%;
  margin: 0px 455px;
}
.col1 img, .col2 img {
  border: 2px solid #2D3037;
  width: 99%;
}
.museum {
  width: 100%;
  margin: 10px 5px;
}
.kids {
  width: 99%;
  margin: 8px;
}
.club {
  width: 25%;
  float: left;
  margin: 0 35px 35px 0px;
}
.dino {
  width: 20%;
  margin-left: 700px;
}
.dino2 {
  width: 20%;
  float: left;
  margin-right: 10px;
}
.facebook {
  width: 4%;
  float: left;
  margin-top: 15px;
  margin-left: 150px;
}
.instagram {
  width: 4%;
  float: left;
  margin-top: 15px;
  margin-left: 100px;
}
.youtube {
  width: 4%;
  float: left;
  margin-top: 15px;
  margin-left: 100px;
}
.snapchat {
  width: 4%;
  float: left;
  margin-top: 15px;
  margin-left: 100px;
}
.owls {
  width: 20%;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
}
.science {
  width: 85%;
  margin-left: 35px;
  margin-top: 20px;
}
.research {
  width: 90%;
  margin-left: 20px;
  margin-top: 40px;
}
.house {
  width: 25%;
  float: left;
  margin-left: 25px;
}
.letter {
  width: 25%;
  float: left;
  margin-left: 25px;
}
.mobile {
  width: 25%;
  float: left;
  margin-left: 25px;
}
.teacher {
  width: 50%;
  position: relative;
  left: 115px;
}
.cafe {
  width: 60%;
  margin-left: 95px;
}
.shop {
  width: 50%;
  margin-left: 110px;
}
.world {
  width: 30%;
  float: left;
  margin-right: 10px;
}
.robot {
  width: 25%;
  float: left;
  margin-right: 10px;
}
.human {
  width: 20%;
  float: left;
  margin-right: 10px;
}
.celso {
  width: 30%;
  float: left;
  margin-right: 10px;
}
.mammoth {
  width: 30%;
  float: left;
  margin-right: 10px;
}


/* Form styles
...............*/

legend {
  background-color: #1B1464;
  color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 5px 20px;
  text-align: left;
  text-transform: uppercase;
  width: 350px;
}
form div {
  margin: 10px 10px;
  width: 350px;
  padding-bottom: 20px;
  font-size: bold;
}
textarea {
  width: 100%;
  height: 200px;
  border: 2px solid #D99A9A;
}
input[type="text"] {
  width: 85%;
}
.message {
  margin-top: 20px;
  width: 100%;
  height: 50%;
  text-transform: uppercase;
  font-family: 'Montserrat-semibold', 'Verdana', 'sans-serif';
  font-weight: bold;
  font-size: 15px;
  color: white;
}
input {
  border: 2px solid #D99A9A;
}
input[type="submit"] {
  width: 130px;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #FF6D05;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 320px;
  border-radius: 6px;
}
input[type="submit"]:link {
  color: white;
  background-color: #FF6D05;
}
input[type="submit"]:hover {
  color: black;
  border: 1px solid black;
}
input[type="submit"]:active {
  color: white;
}
button {
  width: 230px;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #FF6D05;
  cursor: pointer;
  padding: 5px;
  margin-top: 20px;
  margin-left: 220px;
  border-radius: 6px;
}
.form-error {
    color: red;
    display: none;
}


/* Action button */
a.action {
  display: inline-block;
  width: 230px;
  text-align: center;
  font-size: 20px;
  font-family: 'Playfair Display-black', 'Times', 'serif';
  color: white;
  background-color: #FF6D05;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 1060px;
  left: 870px;
  border-radius: 6px;
}



/* Media Queries
-------------------*/

/*tablet styles*/
@media only screen and (min-width: 481px)and (max-width: 768px) {
  .container_1, .container_2, .container_3, .container_footer, .container_1_exhibitions,
  .container_2_exhibitions,  .container_visit, .container_location,
  .container_1_kids, .container_2_kids, .container2_contact,
  .container_1_support, .container_1_involved, .container_1_internships, {
  flex-direction: column;
}

/* Action button */

}

/*mobile styles*/
@media only screen and (max-width: 480px) {
  .container_1, .container_2, .container_3, .container_footer, .container_1_exhibitions,
  .container_2_exhibitions,  .container_visit, .container_location,
  .container_1_kids, .container_2_kids, .container2_contact,
  .container_1_support, .container_1_involved, .container_1_internships   {
  flex-direction: column;
}
.menu {
  display: inline-block;
  width: 15%;
  color: white;
  position: relative;
  top: 1px;
  left: 285px;
}
nav li a {
  display: none;
}
/* Action button */


}

/*desktop styles*/
@media only screen and (min-width: 769px)  {


/* Image on Index page */


/* Action button */


}
